@{
    ViewBag.Title = "Home Page";
}

<!-- start section navbar -->
<nav id="main-nav">
    <div class="row">
        <div class="container">

            <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

            <ul class="nav-menu list-unstyled">
                <li><a href="#header" class="smoothScroll"><strong>Home</strong></a></li>
                <li><a href="#about" class="smoothScroll"><strong>About</strong></a></li>
                <li><a href="#portfolio" class="smoothScroll"><strong>Portfolio</strong></a></li>
                <li><a href="#contact" class="smoothScroll"><strong>Contact</strong></a></li>
            </ul>

        </div>
    </div>
</nav>
<!-- End section navbar -->
<!-- start section header -->
<div id="header" class="home">

    <div class="container">
        <div class="header-content">

            <h1>I'm <span class="typed"></span></h1>
            <p>Gamer, Student, photographer</p>

            <ul class="list-unstyled list-social">
                <li><a href="https://www.facebook.com/marwan.alatoum" target=_blank><i class="ion-social-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/marwan.alatoum/" target=_blank><i class="ion-social-instagram"></i></a></li>
                <li><a href="https://twitter.com/atoum_marwan" target=_blank><i class="ion-social-twitter"></i></a></li>
                <li><a href="https://www.twitch.tv/themdogz" target=_blank><i class="ion-social-twitch"></i></a></li>
            </ul>


        </div>
    </div>
</div>
<!-- End section header -->
<!-- start section about us -->
<div id="about" class="paddsection">
    <div class="container">
        <div class="row justify-content-between">

            <div class="col-lg-4 ">
                <div class="div-img-bg">
                    <div class="about-img">
                        <img src="images/me.jpg" class="img-responsive" alt="me">
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="about-descr">

                    <p class="p-heading">"You dont stop gaming because you grow old, you grow old because you stop gaming." </p>
                    <p class="separator">
                        Hi i'm Marwan Al Atoum and welcome to my portfolio site. I am currently a GCSE student studying at St Laurence Academy located in Brodford-On-Avon and i am studying Computer Science, Economics and Philosophy and Ethics. I have a passion for gaming and heavily enjoy photography. Hope you enjoy my site!
                    </p>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- end section about us -->
<!-- start section services -->
<div id="services">
    <div class="container">

        <div class="services-carousel owl-theme">

            <div class="services-block">


            </div>

            <div class="services-block">

                <i class="ion-playstation"></i>
                <span>GAMING</span>
                <p class="separator"> "The further you get into technology, the further you go into gaming. That's the general rule."<br>- Nick Johnson</p>

            </div>

            <div class="services-block">

                <i class="ion-university"></i>
                <span>Philoshophy and Ethics</span>
                <p class="separator"> “Whereof one cannot speak, thereof one must be silent.”<br>- Ludwig Wittgenstein</p>

            </div>

            <div class="services-block">

                <i class="ion-ios-people"></i>
                <span>Mental Health</span>
                <p class="separator">"“People with mental health conditions deserve just as much support and compassion as people with physical health conditions."<br>- Nick Johnson</p> </p>

            </div>

            <div class="services-block">

                <i class="ion-social-windows"></i>
                <span>Computing</span>
                <p class="separator">"Any sufficiently advanced technology is equivalent to magic."<br> - Arthur C. Clarke (Author) </p>

            </div>

            <div class="services-block">

                <i class="ion-ios-camera"></i>
                <span>PHOTOGRAPHY</span>
                <p class="separator">
                    “When words become unclear, I shall focus with photographs. When images become inadequate, I shall be content with silence.”<br>
                    – Ansel Adams
                </p>

            </div>

        </div>

    </div>

</div>
<!-- end section services -->
<!-- start section portfolio -->
<div id="portfolio" class="text-center paddsection">

    <div class="container">
        <div class="">
            <h2>My Portfolio</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="portfolio-list">
                    </ul>

                </div>

                <div class="portfolio-container">

                    <div class="col-lg-4 col-md-6 portfolio-thumbnail all branding uikits webdesign">
                        <a class="popup-img" href="images/portfolio/1.jpg">
                            <img src="images/portfolio/1.jpg" alt="img">
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-thumbnail all mockups uikits photography">
                        <a class="popup-img" href="images/portfolio/2.jpg">
                            <img src="images/portfolio/2.jpg" alt="img">
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-thumbnail all branding webdesig photographyn">
                        <a class="popup-img" href="images/portfolio/3.jpg">
                            <img src="images/portfolio/3.jpg" alt="img">
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-thumbnail all mockups webdesign photography">
                        <a class="popup-img" href="images/portfolio/4.jpg">
                            <img src="images/portfolio/4.jpg" alt="img">
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-thumbnail all branding uikits photography">
                        <a class="popup-img" href="images/portfolio/5.jpg">
                            <img src="images/portfolio/5.jpg" alt="img">
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-thumbnail all mockups uikits webdesign">
                        <a class="popup-img" href="images/portfolio/6.jpg">
                            <img src="images/portfolio/6.jpg" alt="img">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<!-- End section portfolio -->
<!-- start section gaming -->
<div id="about" class="paddsection">
    <div class="container">
        <div class="row">

        </div>
    </div>

    <div class="col-lg-12">
        <div class="about-descr">

            <p class="p-heading">“I am enough of an artist to draw freely upon my imagination. Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the world.”-<br><strong>Albert Einstein</strong><br></p>
        </div>

    </div>
</div>
</div>
</div>
<!-- end section gaming -->
<!-- start sectoion contact -->
<div id="contact" class="paddsection">
    <div class="container">
        <div class="contact-block1">
            <div class="row">

                <div class="col-lg-6">
                    <div class="contact-contact">

                        <h2 class="mb-30">CONTACT ME</h2>

                        <ul class="contact-details">
                            <li><span>Ashley Rd, Bradford-on-Avon BA15 1DZ</span></li>
                            <li><span>Wiltshire,England</span></li>
                            <li><span>+44 07709 516349</span></li>
                            <li>
                                <span>
                                    <b>PERSONAL:</b>
                                    marwan.al.alatoum20036@gmail.com
                                </span>
                            </li>
                            <li>
                                <span>
                                    <b>WORK:</b>
                                    15alamara@st-laurence.com
                                </span>
                            </li>


                        </ul>



                    </div>
                </div>

                <div class="col-lg-6">
                    <form action="/Home/Contact" method="post" role="form" class="contactForm">
                        <div class="row">

                            <div id="sendmessage">Your message has been sent. Thank you!</div>
                            <div id="errormessage"></div>

                            <div class="col-lg-6">
                                <div class="form-group contact-block1">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validation"></div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation"></div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="12" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="validation"></div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <input type="submit" class="btn btn-defeault btn-send" value="Send message">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- start sectoion contact -->
<!-- start section footer -->
<div id="footer" class="text-center">
    <div class="container">
        <div class="socials-media text-center">

            <ul class="list-unstyled">
                <li><a href="https://www.facebook.com/marwan.alatoum" target=_blank><i class="ion-social-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/marwan.alatoum/" target=_blank><i class="ion-social-instagram"></i></a></li>
                <li><a href="https://twitter.com/atoum_marwan" target=_blank><i class="ion-social-twitter"></i></a></li>
                <li><a href="https://www.twitch.tv/themdogz" target=_blank><i class="ion-social-twitch"></i></a></li>
            </ul>

        </div>
    </div>

</div>
</div>
<!-- End section footer -->
<!-- JavaScript Libraries -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/jquery/jquery-migrate.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="lib/typed/typed.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/magnific-popup/magnific-popup.min.js"></script>
<script src="lib/isotope/isotope.pkgd.min.js"></script>

<!-- Contact Form JavaScript File -->
<script src="contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="js/main.js"></script>

<script src="js/test.js"></script>
